* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1900px;


}

:root {
    --heading-font: "Holtwood One SC", serif;
    --accent-font: "Rock Salt", cursive;
    --primary-color: #000179
        /* dark blue*/
    ;
    --secondary-color: #f1ca14
        /* dark yellow */
    ;
    --background-color: #cbcaca
        /* almost white */
    ;
    --accent-color: #0433f9;
    /* bright blue */
    --highlight-color: #ffd900;
    /*bright yellow*/

}

/* logo */

.container {
    display: grid;
    grid-template-rows: 1fr auto;
    /* 1fr for content, auto for footer */
    height: 100vh;
    /* Full viewport height */
}


.logo {
    position: absolute;
    top: 12%;
    /* Move down 50% of the viewport height */
    left: 50%;
    /* Move right 50% of the viewport width */
    transform: translate(-50%, -50%);
    /* Adjust the position to center */

}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.sociallinks {
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Center items */
}

.socials {
    position: absolute;
    top: 5%;
    /* Move down 50% of the viewport height */
    left: 94%;
    /* Move right 50% of the viewport width */
    transform: translate(-50%, -50%);
    /* Adjust the position to center */


}

.sociallinks a {
    margin: 0 10px;
    /* Space between items */
}

.menu {
    position: absolute;

}

.navigation {
    list-style-type: none;
    /* Remove default list styling */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Center the menu items (optional) */
}

.navigation li {
    margin: 0 15px;
    /* Space between menu items */
}

.navigation a {
    text-decoration: none;
    /* Remove underline */
    color: black;
    /* Change text color */
    font-weight: bold;
    /* Make text bold (optional) */
    font-family: var(--accent-font);
    color: var(--highlight-color);
    text-shadow:
        1px 1px #000179,
        2px 2px #000179,
        3px 3px 5px #000179,
        2px 6px 8px #ffffff;
    font-size: 30px;
}

.tag {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-shadow:
        1px 1px #ffd900,
        1px 1px #5e5c5c4b,
        1px 2px 6px #ffd900,
        2px 6px 4px #000000,
        2px 2px 2px #5e5c5c4b,
        1px 10px 10px #000000de,
        15px 15px 15px #5e5c5c4b,
        20px 20px 20px #5e5c5c4b;
    bottom: 475px;
    left: 660px;
    width: 600px;
    text-align: center;
    font-size: 20px;

}



























/* footer */
.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: large;

}