:root {
    --heading-font: "Holtwood One SC", serif;
    --accent-font: "Rock Salt", cursive;
    --primary-color: #000179;
    /* dark blue */
    --secondary-color: #f1ca14;
    /* dark yellow */
    --background-color: #cbcaca;
    /* almost white */
    --accent-color: #0433f9;
    /* bright blue */
    --highlight-color: #ffd900;
    /* bright yellow */
}

body {
    background: linear-gradient(170deg, #0000FF, #FFD700, #2a1f7d);
    margin: 0;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    flex-wrap: wrap;
}

.logo img {

    max-width: 100%;
    height: auto;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation a {
    text-decoration: none;
    color: var(--highlight-color);
    font-weight: bold;
    font-family: var(--accent-font);
    text-shadow: 1px 1px #000179, 2px 2px #000179, 3px 3px 5px #000179, 2px 6px 8px #ffffff;
    font-size: 50px;
}

.navigation li {
    margin: 0 15px;
}

.sociallinks {
    display: flex;
    align-items: center;
}

.sociallinks img {
    width: 75px;
    margin: 0 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    gap: 20px;
    max-width: 1600px;
    margin: 20px auto;
    align-items: start;
}

.grid-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

@media (max-width: 1400px) {
    .navigation a {
        width: auto;
        font-size: 24px;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .sociallinks img {
        width: 40px;

    }

    .logo img {
        max-width: 300px;


    }
}

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}