:root {
    --heading-font: "Holtwood One SC", serif;
    --accent-font: "Rock Salt", cursive;
    --primary-color: #000179
        /* dark blue*/
    ;
    --secondary-color: #f1ca14
        /* dark yellow */
    ;
    --background-color: #cbcaca
        /* almost white */
    ;
    --accent-color: #0433f9;
    /* bright blue */
    --highlight-color: #ffd900;
    /*bright yellow*/
}




body {
    margin: 0;
    font-family: 'Holtwood One SC', 'Notable', 'Rock Salt', sans-serif;
    color: var(--primary-color);
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;


}

.logo img {
    height: auto;
    right: 40px;
    position: relative;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: 50px;

}

.navigation a {
    text-decoration: none;
    color: var(--highlight-color);
    font-weight: bold;
    font-family: var(--accent-font);
    text-shadow: 1px 1px #000179, 2px 2px #000179, 3px 3px 5px #000179, 2px 6px 8px #ffffff;
    font-size: 36px;
}

.navigation li {
    margin: 0 15px;

}

.sociallinks {
    display: flex;
    align-items: center;
    right: 50px;
    position: relative;
}

.sociallinks img {
    width: 75px;
    margin: 0 15px;
}



main {
    flex: 1;
    padding: 20px;
    background-color: #000000;

}

.totals {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 200px;

}

h1 {
    text-decoration: none;

    color: var(--highlight-color);

    font-weight: bold;

    font-family: var(--accent-font);
    text-shadow: 1px 1px #000179, 2px 2px #000179, 3px 3px 5px #000179, 2px 6px 8px #ffffff;
}

fieldset {
    border: 5px solid var(--accent-color);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}



input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: var(--accent-color);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background: #f39c12;

}

a {
    font-size: 25px;
    text-decoration: none;

    color: var(--highlight-color);
    font-weight: bold;
    font-family: var(--accent-font);
    text-shadow: 1px 1px #000179, 2px 2px #000179, 3px 3px 5px #000179, 2px 6px 8px #ffffff;
}

a:hover {
    text-decoration: underline;
}



.footer {
    text-align: center;
    background-color: #000179;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}