* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}





body {
    font-family: "Manrope", sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header  "
        "main main "
        "footer footer";

    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}



.header {
    grid-area: header;
    background: #670992;
    color: white;
    padding-top: 1rem;
    text-align: center;
    font-family: "Oswald", sans-serif;
}


nav {

    text-align: center;
    background: #ffffff;
    width: 800px;

}



a:link {
    text-decoration: none;

}

.navigation {
    display: flex;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 1px;
    background: #333;

    margin: 0 auto;

}

.navigation a {
    flex: 1 1 100%;


}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {

    background: radial-gradient(#530985fb, #7b7a7a);
    border-width: 10px;
    padding: 10px;

}

h2 {
    padding: 5px;
    background: #670992;
    margin: 0 auto;

    font-weight: 500;
    font-style: normal;
}

h2 {
    color: #ffffff;

}

.main {
    display: grid;
    grid-template-columns: 500px 300px;
    gap: 0px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;

}




img {
    float: right;
    padding-left: 10px;
    padding-top: 10px;

}


figure {
    padding-top: 10px;
    display: flex;
    flex-flow: row;
    width: 400px;
    margin: 0 auto;

}

figcaption {


    padding: 3px;
    text-align: center;
}


.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 4rem;
}

.main p {
    padding-top: 10px;
}