* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}






.header {

    background: #670992;
    color: white;
    font-family: "Oswald", sans-serif;

}

.burger {

    list-style: none;
    display: none;
    padding: 0;


}


nav {

    text-align: center;
    background: #ffffff;
    width: 800px;


}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: "Manrope", sans-serif;
}

.menu li {
    margin-right: 75px;
    padding-left: 50px;
}

a:link {
    text-decoration: none;

}

.navigation {


    padding: 10px;

    margin: 0 auto;
    background: #333;


}

h1 {
    text-align: center;
}

.navigation a {
    flex: 1 1 100%;


}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {

    background: radial-gradient(#530985fb, #7b7a7a);
    border-width: 10px;
    padding: 10px;

}

h2 {

    font-family: "Oswald", sans-serif;
    margin: 0 auto;

    font-weight: 500;
    font-style: normal;
}

h2 {

    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;



}



/* Temple Card Stuff */



body {
    font-family: Arial, sans-serif;


    justify-content: center;
    margin: 0;
    padding: 20px;
}



.temple-card {
    border: 1px solid #b700ff;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 220px;

    display: flex;
    /* Enable flexbox */
    flex-direction: column;
    /* Arrange children in a column */
    justify-content: space-between;
    /* Push content to the edges */
    text-align: center;
    box-shadow: 0 2px 10px #670992;
    height: 100%;


}


#temple-container {
    display: grid;
    /* Use grid layout */
    grid-template-columns: repeat(3, 1fr);
    /* Create 3 equal columns */

    /* Space between the cards */
    padding: 20px;
    /* Optional padding around the grid */
    font-size: small;
    gap: 10px;
    /* Adjusts both row and column spacing */



}


.temple-card img {
    max-width: auto;
    margin-top: auto;
    /* Push the image to the bottom */
    
    box-shadow: 0 2px 10px #670992;
    /* Adjust values for desired shadow */
    border-radius: 10px; /* Rounded edges */

}

.temple-card p {

    line-height: 1;
    /* Adjust line height for closer lines */
}


h2 {
    font-size: 1.5em;

}



/* Card Stuff End */

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 4rem;
}

.main p {
    padding-top: 10px;
}