* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1280px;
}

:root {

    --heading-font: "Kalam", cursive;
    --data-font: "Slabo 27px", serif;

}

header {
    text-align: center;
    background-color: black;
    padding: 1rem;

}

h1 {
    font-family: var(--heading-font);
    color: aliceblue;

}

label {
    font-size: larger;
    font-family: var(--data-font);
    margin-left: 30px;
}


fieldset {
    background-color: rgba(52, 61, 61, 0.194);
    border: 1px solid #ccc;

}

.product {
    padding-top: 15px;

}

.product fieldset {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 15px;
}

.product label {
    font-family: var(--data-font);
    font-size: larger;
    margin-bottom: 10px;
    margin-left: 30px;

}

#product {
    width: 90%;
    margin-left: 50px;
    font-size: 14px;
    padding: 10px;

}

#product option {
    padding: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating {
    margin-top: 18px;
    margin-bottom: 25px;

}

.rating label {
    position: relative;
    bottom: 5px;
    right: 20px;
}

input[type="radio"] {
    position: relative;
    left: 25px;
}






.date fieldset {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 15px;


}

.date label {
    font-family: var(--data-font);
    font-size: larger;
    margin-bottom: 10px;
}

input[type="date"] {

    font-size: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 77.5%;
    box-sizing: border-box;
    margin-left: 30px;
}


.feature fieldset {
    width: 100%;
    padding-top: 5rem;

}

.feature label {
    position: relative;
    bottom: 50px;
    width: 100%;
}

.feature input {
    position: relative;
    right: 550px;
    top: 25px;
    width: 100%;
}

.review fieldset {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

textarea {
    padding: 10px;
    font-size: 16px;
    border: #ccc;

}

.name fieldset {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: #ccc;

}


.submit-button {
    font-family: var(--data-font);
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: rgb(53, 53, 78);
    padding: 50px;

}























.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 4rem;
    font-size: larger;
}