* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

.container {
    max-width: 1200px;
    /* Set max width */
    margin: 0 auto;
    /* Center the container */
    padding: 0px;
    /* Inner padding */
}

header {
    text-align: center;
    /* Center header text */
    margin-bottom: 20px;
    /* Space below header */
}

.hero {
    position: relative;
    /* Position relative for overlay */
    overflow: hidden;
    /* Prevent overflow */
}



.hero img {
    width: 100%;
    /* Make image responsive */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Remove extra space below image */
    margin: 0;
}

.hero-text {
    position: absolute;
    top: 20%;
    /* Adjust this value to position vertically */
    left: 10%;
    /* Adjust this value to move it to the left */
    transform: translate(0, -50%);
    /* Center it vertically */
    color: white;
    /* Text color */
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    padding: 10px;
    /* Padding for text */
    border-radius: 5px;
    /* Rounded corners */
}



.hero-text h2 {
    text-align: center;
}

.more-hero-text h2 {
    text-align: center;
}

.weather {
    position: relative;
    /* Required for positioning the pseudo-element */
    font-size: 2em;
    margin-bottom: 20px;
}

.weather::after {
    content: url(../images/weather.svg);
    /* Content to insert */
    position: absolute;
    /* Positioning it relative to the title */
    left: 220px;
    /* Move it to the left */
    top: -40px;
    /* Align it vertically */
    font-size: 1.5em;
    /* Size of the pseudo-element */
}


.more-hero-text p {
    margin-top: 15px;
    /* Adjust value as needed */
}

.more-hero-text {
    position: absolute;
    /* Overlay text on the image */
    top: 650px;
    right: 0px;
    transform: translate(-50%, -50%);
    /* Center the text */
    color: white;
    /* Text color */
    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent background */
    padding: 10px;
    /* Padding for text */
    border-radius: 5px;
    /* Rounded corners */
}

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 4rem;
}



/* Media Query   ALL MOBILE SHOULD WORK IN HERE */
@media (max-width: 1200px) {
 
  

}