* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --heading-font: "Kalam", cursive;
    --data-font: "Slabo 27px", serif;
}

body {
    overflow-x: hidden;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;

}

header {
    text-align: center;
    background-color: rgb(121, 6, 6);
    height: 120px;
}

h1 {
    font-family: "EB Garamond", serif;
    color: #ecba5c;
    font-size: 75px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);

}



.hero {
    position: relative;
    overflow: hidden;

}



.hero img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

.hero-text {
    position: absolute;
    top: 50px;
    left: 50px;

    background: rgba(107, 72, 7, 0.849);
    padding: 10px;
    border-radius: 20px;
    font-size: x-large;
    line-height: 1.2;
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.hero-text p {
    margin-top: 10px;
    font-family: var(--data-font);
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

h2 {
    font-family: var(--heading-font);
}

.hero-text h2 {
    text-align: center;

}

.more-hero-text h2 {
    text-align: center;

}

.more-hero-text h2::after {
    content: '   ☀️';
}

.more-hero-text img {
    display: none;
}

.more-hero-text p {
    margin-top: 15px;
    font-family: var(--data-font);

}



.more-hero-text {
    position: absolute;
    top: 520px;
    right: 50px;
    color: white;
    background: rgba(107, 72, 7, 0.849);
    padding: 10px;
    border-radius: 20px;
    font-size: x-large;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);

}

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 4rem;
    font-size: larger;
}

@media (max-width: 1200px) {
    h1 {
        font-family: "EB Garamond", serif;

        color: #c48004;
        text-shadow: 3px 3px 5px rgb(0, 0, 0);

    }


}